---
layout: default
title: Curated list of books for different design disciplines. These are the recommended books to start with when studying everything from Graphic design to UX and Product design.
description: A collection of the best reads for designers. This book list got many of the desginers in our community to where they are today.
signup: books
index_image: /assets/img/index.jpg
---
<header class="container hero hero-index" id="hero">
  <article class="row hero-inset">
    <img src="/assets/img/cod-logo.svg" alt="Compass of Design is created by So Magnetic as a tool for designers to learn how to overcome imposter syndrome and learn to design with confidence." />

  </article>
</header>
<section class="main landing navigation container">
  <article class="row">
    <div class="module point">
      <h1 id="products">Book Shelf</h1>
      <h3>A collection of the best reads for designers.</h3>
      <p>This book list helped many of the desginers in our community to where they are today.</p><p> You can use this list as a guide of what to read, building up your own library of great design books.</p><p> Feel free to use this list as a springboard to search for these books, or purchase them here through Amazon to help support the Compass of Design Community.</p>
    </div>
    <div class="module intro">
      <h3>Searching for a specific design discipline?</h3>
      <select class="filter" name="filter" id="filter">
        <option value="">Filter All</option>
        {% for collection in site.collections %}
          {% assign name = collection.label %}
          {% if name == "posts" %}{% else %}
          <option value="{{name}}">{{collection.h2}}</option>
          {% endif %}
      {% endfor %}
      </select>
    </div>
  </article>
</section>
  {% for collection in site.collections %}

    {% assign name = collection.label %}
<section data-type="{{name}}" id="{{name}}" class="list-item main container">
  <h2>{{collection.h2}}</h2>
  <h4>{{collection.h4}}</h4>
  <article class="row buy book-list">
  {% for post in site.categories[name] %}
    <div class="article-thumb landing-product book">
      {{post.content}}
      <h5><a href="{{post.link}}" target="_blank">{{post.title}}</a></h5>
      <p >{{post.description}}</p>
    </div>
  {% endfor %}
  </article>
</section>
{% endfor %}
