<section class="main container">
  <article class="row">
    <div class="" id="join">
    <div class="module group special-group">
      <article class="module support-img">
        <img class="icon" src="{{site.baseurl}}/assets/img/landing/compass.svg" alt="compass of design learning path" >
      </article>
      <article class="module point">
        <h3>{%if page.url contains "course" %}Enrollment for the course opens in 2018.
        {%endif%}{% if page.soon == true %}Want early access? {% else %}{% endif %} </h3>
        {%if page.url contains "course" %}<h5>While we're working hard at polishing the course and material, why not get started?</h5>
        {%endif%}
        {% if page.soon == true %}<h5>Get early access to this content</h5>{% endif %}
        {%if page.url =='/'%}<h6>Get in the right environment to level up your design skills each week.</h5>{%endif %}

        <p>As a reader, you'll have access to what we're learning in the <a href="{{site.baseurl}}/community">Compass of Design Community</a>, along with actionable tips on how to improve your work and your marketability.</p>
        <p><em>And tons of resources shared from people in our design community.</em></p>
        <script async id="_ck_317649" src="https://forms.convertkit.com/317649?v=6"></script>
      </article>
    </div>
  </div>
  </article>
</section>

<!--End mc_embed_signup-->
