<!-- Begin MailChimp Signup Form -->
<div class="module" id="mc_embed_signup">

  <form action="//compassofdesign.us13.list-manage.com/subscribe/post?u=a07a903f524e927147f352cce&amp;id=814c64ab15{% if page.signup %}&SIGNLOCATE={{page.signup}}{% endif %}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="signup validate" target="_blank" >
    <div id="mc_embed_signup_scroll">
      <div class="module signupimg media">
        <img src="{{site.baseurl}}/assets/img/landing/compass.svg" alt="compass of design learning path" >
      </div>
      <div id="signup" class="module signup">
        <h3>{%if page.url contains "course" %}Enrollment for the course opens in 2018.
        {%endif%}{% if page.soon == true %}Want early access? {% else %}Want to level up your design skills?{% endif %} </h3>
        {%if page.url contains "course" %}<h5>While we're working hard at polishing the course and material, why not get started?</h5>
        {%endif%}
        {% if page.soon == true %}<h5>Get early access to new content</h5>{% endif %}
        {%if page.url contains "community" %}<h6>Get in the right environment to level up your design skills each week.</h5>{%endif %}
        <h5>Each week we go over topics to help you improve yourself as a designer:</h5>
        <ul>
          <li><strong>Marketing your skills as a designer</strong></li>
          <li><strong>Business and social skills for effective freelancing</strong></li>
          <li><strong>Design principles to help you master your craft</strong></li>
        </ul>
        <p>As a reader, you'll get weekly tips and tactics to improve yourself and your skills...</p>
        <p><em>And tons of resources shared from people in our design community.</em></p>
        <p><strong>Sign up below to get on the list!</strong></p>

      <div class="mc-field-group">
        <label for="mce-FNAME">First Name </label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
      </div>

    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a07a903f524e927147f352cce_814c64ab15" tabindex="-1" value=""></div>
      <div class="clear mc-field-group"><input type="submit" value="Get Started" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>

  </div>
  </form>
</div>

<!--End mc_embed_signup-->
