
<section class="main container">
<article class="row testimony-thumb">
  <h3>What are people saying about the community?</h3>
  {% for post in site.categories.testimony%}
  {%  if post.ready  %}
      <figure class="snip1192">

        <blockquote><h5>{{post.who}}</h5>{{post.content}}</blockquote>
        <div class="author">
          <img src="{% if post.index_image contains "http"%}{{post.index_image}}{% else %}{{site.baseurl}}/assets/img/community/{{post.img}}{% endif %}"  alt="{{post.title}}"/>
          <h5>{{post.who}}</h5>
      </figure>
    </div>
    {%  endif %}
  {% endfor %}
</article>
</section>
