
<section class="main container testimony">
  <article class="row">

      <h3>What are people saying about the community?</h3>
  </article>
<article class="row testimony-thumb">
  {% for post in site.categories.testimony%}
  {%  if forloop.index <= 3  %}
      <figure class="snip1192">

        <blockquote>
          <h5>{{post.who}}</h5>
          {{post.content}}

          {% if post.where[1] %}<p><em>Find me at: </em> <a href="{{post.where[0]}}">{{post.where[1]}}</a></p>{% endif %}
        </blockquote>
        <div class="author">
          <a href="{{post.where[0]}}" target="_blank"> <img src="{% if post.index_image contains "http"%}{{post.index_image}}{% else %}{{site.baseurl}}/assets/img/community/{{post.img}}{% endif %}"  alt="{{post.title}}"/></a>
      </figure>
    </div>
    {%  endif %}
  {% endfor %}
</article>
</section>
