@media only screen and (min-width: 1000px)
  h6
    font-size: 1.8rem
    font-weight: 600
    margin-bottom: $margin
  h5
    font-size: 1.8rem
    font-weight: 900
    margin-bottom: $margin
  h4
    font-size: 2.618rem
    font-weight: 300
    margin-bottom: $margin
  h3
    font-size: 2.618rem
    font-weight: 300
    color: $highlight
    margin-bottom: $margin
  h2
    font-size: 4.236rem
    font-weight: 300
    margin-bottom: 1rem
  h1
    font-size: 6.854rem
    font-weight: 500
    margin-bottom: 0rem
  .hero
    // height: calc(70vw / 1.777)
    img
      width: 35%
  .button ~ .button,a.button ~ a.button
    margin: 0 0 0 2rem
  .main
    padding: 0 10%
  .module
    .support-img
      width: 70%
      transform: translate(-50%, 50%)
      left: 90%
      top: 50%
    &.group ~ .group, .landing-group ~ .landing-group
      margin-top: -25%

    &.signup
      width: 55%
    &.signupimg
      width: 28%
      margin-right: 5%
    &.pricing
      width: 33%
  .point
    transform: translate(-50%, -50%)
    left: 20%
    top: 50%
    width: 70%
    .point-title
      font-size: 4em
  .buy
    .pricing
      padding: 2em
      margin-top: 45px
    .preferred
      margin-top: 0

  form#mc-embedded-subscribe-form
    padding: 3em
    .mc-field-group
      display: inline-block
      width: 33%
