.hero-index
  background: linear-gradient(to left, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url('../assets/img/topograph-med.png')  bottom center
  background-size: cover
  background-repeat: no-repeat
  padding: 150px 0
  // animation: slider-lg cubic-bezier(0.68, -0.55, 0.27, 1.55) 60s both infinite
