.hero-index
  background: linear-gradient(to left, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url('../assets/img/top1.png')  bottom center
  background-size: cover
  background-repeat: no-repeat
  padding: 30px 2.5% 60px 2.5%
  padding-top: 110px
  // animation: slider-lg cubic-bezier(0.68, -0.55, 0.27, 1.55) 60s both infinite
footer
  background: linear-gradient(to left, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url('../assets/img/top1.png')  bottom center
  background-size: cover
  background-repeat: no-repeat
  padding: 150px 0
