<p>I wonder sometimes if the words we choose affect the success of our project.
</p><br>I tend to talk about words all the time, mainly because I wrote enough valuable content last year to fill a book, but that's looking at helpful text at a macro level. When it comes to paying your due diligence with designing content, you have to make sure that the words you choose to put in the
<p><br>
</p>
<hr>
<hr>
<h3><span "="">Links you should check out from </span><span "=""><a href="https://compassofdesign.com/community" trigger-id="452119">the community members</a></span><br>
</h3>
<p>Thank this week to Katie, Joseph, Kriti, and Michael
</p>
<p>✒ <a href="https://www.webdesignerdepot.com/2018/01/whats-new-for-designers-january-2018/" style="background-color: rgb(255, 255, 255);" target="_blank">What's new for Designers in 2018?</a> (Kriti)
</p>
<p>A huge collection of resources from code's best practices to a list of special characters to copy-paste from.
</p>
<p>📐 <a href="https://tympanus.net/codrops/css_reference/grid/" target="_blank">A complete guide to CSS Grid</a>
</p>
<p>This is something that I'm learning to use more and more. It makes layouts so much fun and eliminates my use for creating my own grids. Check this out if you code
</p>
<hr>
<hr>
<h3><span "="">New article on </span><span "=""><a href="https://read.compassofdesign.com/" target="_blank">the Community's Design Publication</a></span><br>
</h3>
<p><a href="https://read.compassofdesign.com/the-secret-heroes-of-ux-design-56014d087dee" target="_blank"><img src="https://convertkit.s3.amazonaws.com/assets/pictures/63387/1032631/content_JA7kFot2DLiVo2CHeQgJq1y_N4TBLNoIia3NeT6nu_Js-YuBDpUikfYU0iVvhH65x3DFEtmxlnAeEjxD75VJ_IDF3qx-vjZOcgY79HeQqIoZDaUBCIFdp9ow9mMWwUBV_rksYJ0BRPgNjnl_TBsG_gZF-iAHY0I0w4NNQv0_s0-d-e1-ft_1_" style="display: block; margin: auto;" alt="The Secret Heroes of UX Design"></a>
</p>
<br>
<h3 style="text-align: center;"><a href="https://read.compassofdesign.com/the-secret-heroes-of-ux-design-56014d087dee">The secret heroes of UX design</a>
</h3>
