<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description | truncate: 200}}" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/master.css" type="text/css" media="all">

    <link rel="author" href="https://plus.google.com/106679625106063278529" />
    <meta name="theme-color" content="#353263" />
    <meta name="google-site-verification" content="ulMhLTzQrrjJpCoDMwQPTzCa7Cc-Wp7nBPIVGA0ZCDk" />

    <meta name="robots" content="index, follow" />
    <link rel="canonical" href=" {{ site.url }}{{ page.url }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@itssomagnetic" />
    <meta name="twitter:creator" content="@itssomagnetic" />
    <meta name="twitter:url" content="https://compassofdesign.com" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:description" content="{{page.description | truncate: 196}}" />
    <meta name="twitter:image" content="{% if page.cdn %}{{page.cdn}}{% elsif page.index_image %}https://compassofdesign.com{{page.index_image}}{% else %}https://compassofdesign.com/assets/img/index.jpg{% endif %}" />

    <meta name="p:domain_verify" content="4990647bc88b5df93fc24e07f254d0a9"/>
    <meta name="msvalidate.01" content="C6EC4F07A5BCCB5E908BF39B3692C3DB" />
    <meta property="fb:app_id" content="1076166062457470" />
    <meta property="og:url" content="{{site.url}}/{{page.id}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:image" content="{% if page.cdn %}{{page.cdn}}{% elsif page.index_image %}https://compassofdesign.com{{page.index_image}}{% else %}https://compassofdesign.com/assets/img/index.jpg{% endif %}" />
    <meta property="og:description" content="{{page.description | truncate: 167}}" />
    <meta property="og:site_name" content="Darian Rosebrook" />
    <meta property="og:locale" content="en_US" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="{{site.baseurl}}/scripts/jquery-3.2.1.min.js"></script> -->
    <script>
      if(!window.jQuery){
        var script = document.createElement('script');
        script.src = '{{site.baseurl}}/scripts/jquery-3.2.1.min.js';
        document.head.appendChild(script);
      }
    </script>
    <!-- Hotjar Tracking Code for https://compassofdesign.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:492599,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>
  <body>
    <input type="checkbox" class="hidden " data-continue="true" id="toggle" name="toggle" value="" >
    <nav class="navigation transition" id="nav">
      <label class="transition toggle " for="toggle"><img src="{{site.baseurl}}/assets/img/cod-avatar.svg" alt="" /></label>
      <ul>
        <li class="list-item-1 hidden"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="list-item-2 hidden"><a href="https://coach.compassofdesign.com">Products</a></li>
      </ul>
      <ul>
        <li class="list-item-3 hidden"><a href="https://medium.com/compass-of-design">Journal</a></li>
        <li class="list-item-4 hidden"><a href="{{site.baseurl}}/community">Community</a></li>

      </ul>
    </nav>
    <label class="transition escape " for="toggle"><span style="opacity: 0">close</span></label>
    {{content}}
    <footer class="main container">
      <article class="row">
          <div class="landing module">
          <h6>Copyright 2017 by <a href="https://somagnetic.com">So Magnetic LLC</a></h6>
          <h6><a href="{{site.baseurl}}/archive/privacy-policy">Privacy Policy</a></h6>
          <h3><a href="https://twitter.com/compassofdesign"><i class="fa fa-twitter"><span>twitter</span></i></a><a href="https://instagram.com/compassofdesign"><i class="fa fa-instagram"><span>instagram</span></i></a><a href="https://coach.compassofdesign.com/"><i class="fa fa-shopping-cart"><span>shop</span></i></a> </h3>
        </div>
      </article>
    </footer>
    <script type="text/javascript">
      /* First CSS File */
      var giftofspeed = document.createElement('link');
      giftofspeed.rel = 'stylesheet';
      giftofspeed.href = '';
      giftofspeed.type = 'text/css';
      var godefer = document.getElementsByTagName('link')[0];
      godefer.parentNode.insertBefore(giftofspeed, godefer);

      /* Second CSS File */
      var giftofspeed2 = document.createElement('link');
      giftofspeed2.rel = 'stylesheet';
      giftofspeed2.href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
      giftofspeed2.type = 'text/css';
      var godefer2 = document.getElementsByTagName('link')[0];
      godefer2.parentNode.insertBefore(giftofspeed2, godefer2);
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97409864-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="{{site.baseurl}}/scripts/scripts.js">
    </script>
    <script type="text/javascript" src="{{site.baseurl}}/scripts/rellax.js">
    </script>

  <!-- test -->
  </body>
</html>
