---
layout: default
---
{% if page.header %}
  <header class="container hero hero-index">
    <article class="row hero-inset">
      <a href="{{site.baseurl}}/"><img src="/assets/img/cod-logo.svg" alt="Compass of Design is created by So Magnetic as a tool for designers to learn how to overcome imposter syndrome and learn to design with confidence." /></a>
      <h1>Start becoming a more effective designer</h1>
      <h3>Get weekly tips on design and how to better your skills by getting around other self start designers like you</h3>
      <a href="#join" class="button " >Join the Pack</a>
      <a href="#more" class="button secondary" >Learn More</a>
    </article>
  </header>
{% endif %}
<section class="main container">
</section>
