---
layout: default
signup: product
---
<header id="hero" class="main hero container product-header">
  <article class="row">
    <div class="module">
      <img src="{{site.baseurl}}/{{page.product_image}}" alt="Solid foundation in design priniciples"/>
    </div>
    <div class="module">
      <h1 class="point-title">{{page.title}}</h1>
      <h3>{%if page.subtitle %}{{page.subtitle}}{%else%}Start projects faster{%endif%}</h3>
      <p>{{page.description}}</p>
      <a href="{% if page.soon == true %}#mc_embed_signup{% elsif page.link %}{% if page.link contains 'http' %}{{page.link}}/buy{% else %}{{site.baseurl}}{{page.link}}/#join{% endif%}{% else %}#buy{% endif%}" class="button " >Get Access {% if  page.soon == true %}Soon{% elsif page.bundle%}Below{% elsif page.title contains "community" %} for <del>$99</del> {{page.price}} (30% off until October) {% elsif page.price %}for {{page.price}}{% endif %}</a>
    </div>
  </article>
</header>
{% if page.product_info %}
  <section class="main container">
    <article class="row">
    <div class=" module">
    {% for paragraphs in page.product_info %}
    {% assign iteration = forloop.index0 1%}
      <div class="module group">
        <article class="module support-img" data-rellax-speed="10">
          <img src="{{page.product_images[iteration]}}" alt="Making faster design decisions"/>
        </article>
        <article class="module point">
          <h3 class="point-title">{{page.paragraph_title[iteration]}}</h3>
          <p>{{paragraphs}}</p>
        </article>
      </div>
    {% endfor %}
  </div>
  <div class="module buy">
    {% if page.tier %}
      {% include 'tier.html' %}
    {% else %}
    <a href="{% if page.soon == true %}#mc_embed_signup{% elsif page.link %}{{page.link}}/buy{% else %}#buy{% endif%}" class="button " > {% if  page.soon == true %}Get it Soon{% elsif page.bundle%}See Below{% elsif page.title contains "community" %} Buy now for {{page.price}} (30% off until October) {% elsif page.price %}Buy Now for {{page.price}}{% endif %}</a>
    {%endif%}

  </div>
  </article>
  </section>
{% endif %}
<section class="main container">
  <article class="row">
    <div class="module">
      <h3>I'd love to see the kinds of things you're working on</h3>
      <h4>If you use these in any of your projects, let me know on <a href="https://twitter.com/compassofdesign">twitter!</a></h4>
    </div>
  </article>
</section>
 {% comment %}---> Other products that someone will enjoy {% endcomment %}

<section class="main container">
  <h3>Other products you may enjoy</h3>
  <article class="row buy">

{% comment %}---> the maximum number of related to posts
               to be printed {% endcomment %}
 {% assign maxRelated = 4 %}

{% comment %}---> the minimum number of common tags
                 to have for a post to be considered
                 as a related post {% endcomment %}
 {% assign minCommonTags =  2 %}
 {% assign maxRelatedCounter = 0 %}
 {% for post in site.categories.products %}
   {% assign sameTagCount = 0 %}
   {% assign commonTags = '' %}
   {% for tag in post.tags %}
     {% comment %}---> Only compare if post is
                       not same as current page {% endcomment %}
     {% if post.url != page.url %}
       {% if page.tags contains tag %}
         {% assign sameTagCount = sameTagCount | plus: 1 %}
         {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
         {% assign commonTags = commonTags | append: tagmarkup %}
       {% endif %}
     {% endif %}
   {% endfor %}
   {% if sameTagCount >= minCommonTags %}
   <article class="landing-product ">
     <a class="product" href="{{post.url}}" >
       <img src="{{site.baseurl}}/{{post.index_image}}"  alt="{{post.title}}"/>
       <h5>{{post.title}}</h5>
     </a>
   </article>
     {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
     {% if maxRelatedCounter >= maxRelated %}
       {% break %}
     {% endif %}
   {% endif %}

 {% endfor %}
  </article>
</section>


<section id="join" class="container main ">
  <article class="row">
  {% if page.soon %}{% include mailchimp.html %}{% else %}
    <a class="button" href="{{site.baseurl}}/community">Join the Design Community</a>{% endif %}
  </article>
</section>
