---
layout: default
---
<section class="main container product-header">
  <article class="row">
    <div class="module">
      <img src="{{site.baseurl}}/{{page.product_image}}" alt="Solid foundation in design priniciples"/>
    </div>
    <div class="module">
      <h1 class="point-title">{{page.title}}</h1>
      <h3>Start projects faster</h3>
      <p>{{page.description}}</p>
      <a href="{% if page.soon == true %}{{site.baseurl}}/community/#join{% elsif page.link_to %}{{page.link_to}}/buy{% else %}#buy{% endif%}" class="button " >Get Access {% if  page.soon == true %}Soon{% elsif page.bundle%}Below{% elsif page.price %}for {{page.price}}{% endif %}</a>

    </div>

  </article>
</section>
