// Global
*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0
html
  background: $light
  font-family: "Trebuchet MS", sans-serif
  font-size: 10px
  color: $main
body
  font-size: 1.2em
  overflow-x: hidden
  @media only screen and (min-width: 200px)
    font-size: 1.4em
  @media only screen and (min-width: 800px)
    font-size: 1.8rem
.main
  padding: 0 4%
  width: 100%
.hidden
  display: none !important
  opacity: 0
.active
  display: block
.mobile
  display: block
  opacity: 1
  @media only screen and (min-width: 800px)
    display: none
    opacity: 0
.desktop
  display: none
  opacity: 0
  @media only screen and (min-width: 800px)
    display: block
    opacity: 1
.cf::after
  content: ' '
  visibility: hidden
  display: block
  height: 0
  clear: both
.cf::after, .cf::before
  display: block

// Logo & nav
nav.navigation
  transition: $transition
  @include center(true, false)
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  align-content: center
  text-align: center
  border-bottom: $highlight-2 2px solid
  background-color: $light
  top: -500px
  height: 400px
  position: fixed
  z-index: 200
  width: 100%
  color: $dark
  label
    transition: inherit
    display: block
    @include center(true, true)
    top: 100%
    width: 65px
    height: 65px
    img
      width: 40px
      @include center(true, true)
  ul
    li
      opacity: 1
  &.active
    top: -360px
  & ~ .escape
    position: absolute
    width: 1px
    height: 1px
    background: none
// Typography
p
  margin: 0 0 $margin 0
  font-family: Georgia
  line-height: 1.8
a, a:link, a:visited, a:hover, a:focus
  transition: $transition
  text-decoration: none
  color: $highlight
  border-bottom: 1px solid $secondary
a:hover
  border-bottom: 1px solid $highlight
h2, h3, h4, h5, h6
  position: relative
  line-height: 1.2
h6
  font-size: 1.6rem
  font-weight: 600
  margin-bottom: $margin
h5
  font-size: 1.6rem
  font-weight: 900
  margin-bottom: $margin
h4
  font-size: 1.8rem
  font-weight: 300
  margin-bottom: $margin
h3
  font-size: 2rem
  font-weight: 300
  color: $highlight
  margin-bottom: $margin
h2
  font-size: 2.8rem
  font-weight: 300
  margin-bottom: $margin
h1
  font-size: 3.5rem
  font-weight: 500
  margin-bottom: 0
  line-height: 1.4
i
  margin-right: 2rem
  margin-left: 2rem
  span
    display: none
ul
  display: block
  li
    display: block
    margin: 2em 1em
span
  &.highlight
    color: $highlight
// Buttons
.button, a.button
  transition: $transition
  display: inline-block
  min-width: 8em
  background: $main
  font-size: 1.8rem
  color: $light
  border: none
  border-radius: 5px
  padding: 1.3em
  &.secondary
    background: $light
    color: $dark
    border-color: $tertiary
    border-width: 1px
    border-style: solid
  &.tertiary
    background: $tertiary
    color: $dark
.button:active, .button:focus,a.button:active, a.button:focus
  background-color: darken($main, 15%)
  color: $light
  &.secondary
    background: $tertiary
.button:hover, a.button:hover
  background-color: darken($main, 15%)
  color: $light
  &.secondary
    background-color: $grey
.button ~ .button,a.button ~ a.button
  margin:  0 0 0 2rem

// Scaffolding
.intro
  @include center(true, false)
  text-align: center
  h1
    font-size: 1.5em
    margin-bottom: 0
.featured
  padding: 0 4%
.landing-product
  vertical-align: top
  display: inline-block
  width: 48%
  .product
    & h5, & h6
      color: $main
      font-size: 1em
  img
    width: 100%
    margin-bottom: 2em
.buy
  @include center(true, false)
  width: 25%
footer.main.container
  width: 100vw
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  div
    width: 100%
    text-align: center
    margin-top: 40px
.article-thumb
  p
    color: $dark
    font-size: .7em
.assess
  height: calc(90vw * 1.777)
.hero
  // height: calc(90vw * 1.777)
  clip-path: polygon(0 0, 3000px 0, 3000px 50%, 0 100%)
  text-align: center
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  text-align: center
  .row
    display: inline-flex
  img
    width: 100%
  h1
    width: 100%
    margin: .3em auto
.media
  position: relative
  padding-bottom: 56.25%
  margin-bottom: 2em
  width: 100%
  overflow: hidden
  max-width: 100%
  height: 0%
  iframe, & object & embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
.focus
  @include center(true, false)
.alert
  padding: 2em 0 .5em
  background-color: $main
  color: $light
  text-align: center
  a
    color: lighten($main, 40%)
.notify
  transition: $transition
  img
    transition: $transition
  .button
    opacity: 0
    @include center(true, true)
  &:hover
    img
      opacity: .5
    .button
      opacity: 1
.buy
  .pricing
    padding: .3em
    background: $tertiary
    text-align: center
  .preferred
    background: $grey
    color: $light !important
// Columns
.container
  @include container()
  .row
    position: inherit
    display: inline-block
    font-size: 1.8rem
    @include col(1, 1, 0)
    margin-bottom: 50px
.module
  display: block
  vertical-align: top
  position: inherit
  font-size: 1.8rem
  padding: 0 0 1.5rem 0
  @media only screen and (min-width: 800px)
    & ~ .module
      padding-bottom: 0
  img
    width: 100%
    transition: $transition
    transform-origin: 50% 50%
  .landing
    width: 70%
@media only screen and (min-width: 800px)
  .module
    display: inline-block
    &.landing
      @include center(true, false)
      width: 70%
.point
  .point-title
    color: $main
    font-size: 2.5em
    margin-bottom: 0
.assess
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: calc(105vw * 1.777)
  &.first
    height: calc(70vw * 1.777)
.testimony-thumb
  display: block
hr
  margin-bottom: $margin
#filter
  display: flex
  justify-content: center
  flex-wrap: wrap
  font-size: .7em
  div
    display: inline-flex
    flex-direction: column
    justify-content: space-between
    li
      border: 1px $main solid
      border-radius: 5px
      padding: .5em

// Testimonial
figure.snip1192
  position: relative
  // float: left
  overflow: hidden
  margin: 10px 1%
  width: 100%
  color: #333
  text-align: left
  box-shadow: none !important
  font-size: .9em

figure.snip1192 *
  -webkit-box-sizing: border-box
  box-sizing: border-box

figure.snip1192 img
  max-width: 100%
  height: 100px
  width: 100px
  border-radius: 50%
  margin-bottom: 15px
  display: inline-block
  z-index: 1
  position: relative

figure.snip1192 blockquote
  margin: 0
  display: block
  border-radius: 8px
  position: relative
  background-color: #fafafa
  padding: 30px 50px 65px 50px
  font-size: 0.8em
  font-weight: 500
  margin: 0 0 -50px
  line-height: 1.6em
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after
  font-family: 'FontAwesome'
  content: "\201C"
  position: absolute
  font-size: 50px
  opacity: 0.3
  font-style: normal

figure.snip1192 blockquote:before
  top: 35px
  left: 20px

figure.snip1192 blockquote:after
  content: "\201D"
  right: 20px
  bottom: 35px

figure.snip1192 .author
  margin: 0
  text-transform: uppercase
  text-align: center
  color: #ffffff

figure.snip1192 .author h5
  opacity: 0.8
  margin: 0
  font-weight: 800

figure.snip1192 .author h5 span
  font-weight: 400
  text-transform: none
  display: block

// Forms
form.signup
  display: block
  background-color: #f7f7f7
  padding: 2em
  border-radius: 10px
  input
    display: block
    margin: $margin 0
    &:not(.button), & ~ textarea
      width: 75%
      border: #ddd 2px solid
      border-radius: 5px
      padding: .5em

  textarea
    display: block
    height: 15vw
    resize: none
    margin-bottom: $margin
    color: $main
  &.assessment
    background: none
    display: block
    padding: 0
    border-radius: 0
fieldset
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-bottom: $margin
  label:not(.dont)
    display: block
    margin-bottom: $margin
    padding: .3em
    line-height: 1.5
    &:hover
      cursor: pointer

@media only screen and (min-width: 800px)
  .col
    display: inline-block
  form
    label.module
      padding: 1em
    & ~ label.module
      margin-left: 1em
  .testimony
    .row
      display: grid
      grid-template-columns: 1fr 1fr 1fr
  figure.snip1192
    min-width: 220px
    max-width: 95%
