// Global
*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0
html
  background: $light
  font-family: 'hk-nova-regular', "Helvetica", Arial, Verdana, sans-serif
  font-size: 2vw
  @media only screen and (min-width: 200px)
    font-size: 2.5vw
  @media only screen and (min-width: 800px)
    font-size: .7vw
  color: $dark
body
  background: $light
  line-height: 1.8
  opacity: 0
  transition: all ease .4s
  overflow-x: hidden
.cf::after
  content: ' '
  visibility: hidden
  display: block
  height: 0
  clear: both
.cf::after, .cf::before
  display: block
img
  transition: $transition
  display: inline-block
  width: 100%
  &.icon
    max-width: 150px
    @include center(true, false)

// Animations
.transition
  transition: all ease .3s
@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1
body.main
  animation: fadeIn 1.5s
  opacity: 1

// Typography
a, a:link, a:visited, a:hover, a:focus
  display: inline-block
  transition: $transition
  text-decoration: none
  color: $highlight

.regular
  font-family: "hk-nova-regular"
  font-weight: 400
.bold
  font-family: "hk-nova-bold"
  font-weight: 300
h2, h3, h4, h5, h6
  position: relative
  width: fit-content
  transition: $transition
  a:before
    content: ""
    position: absolute
    width: 0%
    height: 2px
    background-color: $highlight
    bottom: .8em
    right: 0
    transition: $transition
  a:hover:before
    width: 100%
h6, h5, h4
  @extend .regular
h3, h2
  @extend .bold
h6
  font-size: 1.7rem
h5
  font-size: 2rem
  color: $main
h4
  font-size: 2.3rem
h3
  font-size: 2.5rem
  color: $main
h2
  font-size: 3rem
h1
  font-family: "hk-nova-heavy"
  font-size: 3.5rem
p
  font-size: 1.4rem
  margin-bottom: 2rem
strong
  color: $grey
i
  margin-right: 2rem
  margin-left: 2rem
  span
    display: none
.word-highlight
  color: $main

// Buttons

.button, a.button
  transition: $transition
  display: inline-block
  min-width: 8rem
  background: $dark
  font-size: 1.3rem
  text-align: center
  color: $light
  cursor: pointer
  border: none
  border-radius: 1em
  padding: 1em
  &.secondary
    background: $light
    color: $dark
    &:hover, &:focus, &:active
      background-color:  darken($light, 15%)
  &.tertiary
    background: $main
    color: $light
    &:hover, &:focus, &:active
      background-color:  darken($main, 15%)
.button:active, .button:focus,a.button:active, a.button:focus
  font-size: 1.2rem
  background-color: darken($highlight-3, 45%)
  color: light
.button:hover, a.button:hover
  background-color: darken($highlight-3, 25%)
  color: light
.button ~ .button,a.button ~ a.button
  margin-left: 2em
  margin-right: 0

// Scaffolding
.box
  width: 100%
  position: relative
.container, .module
  @extend .box
.grid
  display: inline-grid
  grid-template-columns: 1fr 1fr
  grid-gap: 1rem
  justify-items: stretch
  align-items: start
  font-size: 1em
  h5
    font-size: 1.4rem

.container
  font-size: 0

.row
  width: 90vw
  @include center(true, false)

.module
  display: inline-block
  & ~ .module
    margin: 4rem 0 0 0

.grid-item
  font-size: 1rem
  img
    @include center(true, false)

// Forms

// Navigation
nav.container
  transition: $transition
  @include center(true, false)
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  align-content: center
  text-align: center
  border-bottom: $highlight-2 2px solid
  background-color: $light
  top: -360px
  height: 400px
  z-index: 200
  width: 100%
  font-size: 1rem
  color: $dark
  position: fixed
  label
    transition: inherit
    display: block
    @include center(true, true)
    top: 100%
    width: 65px
    height: 65px
    img
      width: 40px
      @include center(true, true)
  ul
    display: flex
    align-items: center
    li
      opacity: 1
  &.active
    position: fixed
    top: -360px
  & ~ .escape
    position: absolute
    width: 1px
    height: 1px
    background: none
.navigation li
  display: none
  animation: slideIn 0.3s backwards
input[data-continue="true"]:checked
  & ~ nav ul
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 80%
  & ~ nav ul li.hidden
    display: inline-flex !important
@for $i from 1 through 9
  .navigation .list-item-#{$i}
    animation-delay: ($i/6)+s
.toggle
  background-color: $light
  border-bottom: $highlight-2 2px solid
  border-radius: 50%
  padding: 1em
  &:hover
    cursor: pointer

#toggle:checked
  & ~ nav
    top: 0
    label
      top: 50%
  & ~ .escape
    position: fixed
    display: block
    width: 100%
    height: calc(100vw * 1.777)
    z-index: 199
// Media Queries
@media only screen and (min-width: 800px)
  .row
    width: 70vw
  .module
    & ~ .module
      margin: 0 0 0 4rem
  .grid
    grid-template-columns: 1fr 1fr 1fr 1fr
  .grid-item
    &:hover
      img
        width: 95%
        box-shadow: 0 4px 6px 0 hsla(0, 0, 0, 0.2)
  nav.container
    flex-direction: row
    top: -0
    height: auto
    ul li
      display: block !important
    ul
      display: flex
      flex-direction: row
      justify-content: space-around
      li
        opacity: 1
    &.active
      top: -0
    & ~ .escape
      position: absolute
      width: 1px
      height: 1px
      background: none
    label
      top: 50%

  .navigation li
    display: none
    animation: slideIn 0.3s backwards
  input[data-continue="true"]:checked
    & ~ nav.navigation ul
      display: flex
      flex-wrap: nowrap
      justify-content: space-around
      width: auto
    & ~ nav.navigation ul li.hidden
      display: inline-flex !important
  @for $i from 1 through 9
    .navigation .list-item-#{$i}
      animation-delay: ($i/6)+s
  .toggle
    background-color: $light
    border-bottom: $highlight-2 2px solid
    border-radius: 50%
    padding: 1em
    &:hover
      cursor: pointer

  #toggle:checked
    & ~ nav
      top: 0
      label
        top: 50%
    & ~ .escape
      position: fixed
      display: block
      width: 100%
      height: calc(100vw * 1.777)
      z-index: 199
