// Global
*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0
  transition: $transition
html
  background: $light
  font-family: "Trebuchet MS", sans-serif
  font-size: 10px
  color: $main
body
  font-size: 1.2em
  line-height: 1.8
  overflow-x: hidden
  @media only screen and (min-width: 200px)
    font-size: 1.4em
  @media only screen and (min-width: 800px)
    font-size: 1.8rem
.main
  padding: 0 4%
  width: 100%
.hidden
  display: none !important
  opacity: 0
.mobile
  display: block
  opacity: 1
  @media only screen and (min-width: 800px)
    display: none
    opacity: 0
.desktop
  display: none
  opacity: 0
  @media only screen and (min-width: 800px)
    display: block
    opacity: 1
.cf::after
  content: ' '
  visibility: hidden
  display: block
  height: 0
  clear: both
.cf::after, .cf::before
  display: block

// Logo & nav

// Typography
p
  margin: 0 0 $margin 0
  font-family: Georgia
a, a:link, a:visited, a:hover, a:focus
  transition: $transition
  text-decoration: none
  color: $main
  border-bottom: 1px solid $main
h2, h3, h4, h5, h6
  position: relative
h6
  font-size: 1.6rem
  font-weight: 600
  margin-bottom: $margin
h5
  font-size: 1.6rem
  font-weight: 900
  margin-bottom: $margin
h4
  font-size: 1.8rem
  font-weight: 300
  margin-bottom: $margin
h3
  font-size: 2rem
  font-weight: 300
  color: $highlight
  margin-bottom: $margin
h2
  font-size: 2.8rem
  font-weight: 300
  margin-bottom: $margin
h1
  font-size: 3.5rem
  font-weight: 500
  margin-bottom: 0rem
i
  margin-right: 2rem
  margin-left: 2rem
  span
    display: none

// Buttons
.button, a.button
  transition: $transition
  display: inline-block
  min-width: 8em
  background: $main
  font-size: 1.8rem
  color: $light
  border: none
  border-radius: 5px
  padding: 1em
  &.secondary
    background: $light
    color: $dark
  &.tertiary
    background: $tertiary
    color: $dark
.button:active, .button:focus,a.button:active, a.button:focus
  background-color: darken($main, 15%)
  color: $light
.button:hover, a.button:hover
  background-color: darken($main, 25%)
  color: $light
.button ~ .button,a.button ~ a.button
  margin:  0 0 0 2rem

// Scaffolding
.hero
  // height: calc(90vw * 1.777)
  clip-path: polygon(0 0, 3000px 0, 3000px 75%, 0 100%)
  text-align: center
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  text-align: center
  .row
    display: inline-flex
  img
    width: 95%
  h1
    width: 70%
    margin: 0 auto
.slant
  @include center(true, false)
  padding: 1.2em
  width: 100vw
  background: url('/assets/img/topograph.png')  bottom center
  background-size: cover
  background-repeat: no-repeat
.focus
  @include center(true, false)
.alert
  padding: 2em 0 .5em
  background-color: $main
  color: $light
  text-align: center
  & ~ a img:hover
    opacity: .4
  a
    color: lighten($main, 40%)
.buy
  .pricing
    padding: .3em
    background: $tertiary
    text-align: center
  .preferred
    background: $grey
    color: $light !important
// Columns
.container
  @include container()
  .row
    position: inherit
    display: inline-block
    font-size: 1.8rem
    @include col(1, 1, 0)
  .col
    @include center(true, false)
    width: 65%
    display: block
    vertical-align: top
    position: inherit
    font-size: 1.8rem
    padding: 0 0 1.5rem 0
    @media only screen and (min-width: 800px)
      & ~ .col
        padding-bottom: 0
        margin-left: 1em
@media only screen and (min-width: 600px)
  .container .col
    @include col(1, 2)
    width: calc(50% - 2em)
@media only screen and (min-width: 800px)
  .container .col
    @include col(1, 4)
    width: calc(25% - 2em)
.module
  display: block
  vertical-align: top
  position: inherit
  font-size: 1.8rem
  padding: 0 0 1.5rem 0
  img
    width: 100%
  @media only screen and (min-width: 800px)
    & ~ .module
      padding-bottom: 0
      // margin-left: 1em
  .landing
    width: 70%
    img
      width: 100%
@media only screen and (min-width: 800px)
  .module
    display: inline-block
    &.landing
      @include center(true, false)
      width: 70%
.point
  .point-title
    color: $main
    font-size: 2.5em
    margin-bottom: 0
    text-transform: uppercase

// Forms
form
  background-color: #f7f7f7
  padding: 1em
  border-radius: 10px
  input
    display: block
    margin: $margin 0
    border: #ddd 2px solid
    border-radius: 5px
    padding: .5em
    max-width: 100%
  textarea
    width: 70%
    height: 15vw
    resize: none

@media only screen and (min-width: 800px)
  .col
    display: inline-block
  form
    label.module
      padding: 1em
    & ~ label.module
      margin-left: 1em
